body {
  background-color: var(--couleur-body);
  color: var(--couleur-texte);
  margin: 0;
  font-family: "Inter-SemiBold", sans-serif;
}
.container-parent {
  display: flex;
  height: auto;
  padding: 100px 150px 100px 150px;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.container-categorie {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  width: 100%;
}

.container-front,
.container-back,
.container-Design,
.container-systemes-embarques,
.container-Gestion-de-Projets {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: var(--couleur-container);
  padding: 30px;
  border-radius: 50px;
  border: solid 1px var(--couleur-border);
  gap: 30px;
}
.titre {
  display: flex;
  justify-content: center;
  font-size: 28px;
}
.expli {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.texte {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: nowrap;
}
.img-taille {
  height: 50px;
}
.image {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.img-arround {
  border-radius: 8px;
}
.navbar {
  display: flex;
  justify-content: left;
  width: auto;
  align-items: center;
  gap: 10px;
}
a {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  font: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.centre {
  display: flex;
  width: 100%;
}
@media (max-width: 1150px) {
  .container-parent {
    padding: 100px 100px 100px 100px;
  }
}
@media (max-width: 600px) {
  .container-parent {
    padding: 100px 50px 100px 50px;
  }
}
