@font-face {
  font-family: "bride";
  src: url("../fonts/Bride.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--couleur-body);
  color: var(--couleur-texte);
  margin: 0;
  font-family: "Inter-SemiBold", sans-serif;
}

.container-parent {
  display: flex;
  height: auto;
  padding: 100px 150px 50px 150px;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  min-height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.container-intro {
  background-color: var(--couleur-container);
  display: flex;
  width: calc(100% - 60px);
  height: fit-content;
  padding: 30px;
  border-radius: 50px;
  border: solid 1px var(--couleur-border);
  flex-direction: column;
  gap: 30px;
}

.container-details {
  background-color: var(--couleur-container);
  display: flex;
  width: calc(100% - 60px);
  height: fit-content;
  padding: 30px;
  border-radius: 50px;
  border: solid 1px var(--couleur-border);
  flex-direction: column;
  gap: 30px;
}

.container-simulation {
  background-color: var(--couleur-container);
  display: flex;
  width: calc(100% - 60px);
  height: fit-content;
  padding: 30px;
  border-radius: 50px;
  border: solid 1px var(--couleur-border);
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.title {
  font-size: 42px;
  color: var(--couleur-texte);
}

.introduction {
  font-size: 20px;
  color: var(--couleur-sous-texte);
  line-height: 1.6;
}

.bloc-intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bloc-titre {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.travail {
  font-family: "Montez", cursive;
  font-size: 24px;
}

.details-text {
  font-size: 18px;
  color: var(--couleur-sous-texte);
  line-height: 1.6;
}

.simulation-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.sources {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.game-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.source-link {
  color: var(--couleur-texte);
  text-decoration: none;
  transition: color 0.3s ease;
  text-decoration: underline; /* Texte souligné */
  font-size: 18px;
}

.source-link:hover {
  color: var(--couleur-sous-texte);
}

#gameCanvas {
  background-color: var(--couleur-input);
  border: 1px solid var(--couleur-border);
  border-radius: 10px;
}

/* Styles pour la navbar */
.navbar {
  display: flex;
  justify-content: left;
  width: auto;
  align-items: center;
  gap: 10px;
}

.centre {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  font: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.texte {
  font-size: var(--taille-texte);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: nowrap;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(20, 15px); /* Taille réduite : 30 colonnes */
  grid-template-rows: repeat(20, 15px); /* Taille réduite : 20 lignes */
  gap: 1px;
  background-color: #444;
  border: 2px solid #888;
}

.cell {
  width: 15px;
  height: 15px;
  background-color: var(--couleur-container);
}

.cell.alive {
  background-color: var(--couleur-texte);
}

@media (max-width: 1000px) {
  .container-parent {
    padding: 50px 50px 50px 50px;
  }

  .simulation-container {
    flex-direction: column;
  }

  .game-container {
    width: 100%;
  }
}
@media (max-width: 500px) {
  #game-container {
    grid-template-columns: repeat(20, 10px);
    grid-template-rows: repeat(20, 10px);
  }
  .cell {
    width: 10px;
    height: 10px;
  }
}
