:root {
  --couleur-body: #0a0a0a;
  --couleur-container: #0d0d0d;
  --couleur-input: #0a0a0a;
  --couleur-border: #212121;
  --couleur-texte: #fff;
  --couleur-sous-texte: #ffffff95;
  --taille-texte: 20px;
  --couleur-cesi: 255, 251, 15;
}
body {
  user-select: auto;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 30px;
}
@media (max-width: 600px) {
  .container-parent {
    padding: 20px;
  }
}
